<p id="notice"><%= notice %></p>

<div id="encabezado">
<h1>Contactos</h1>
</div>

<form action="/contactos/new" method="get">
<button>Nuevo contacto</button>
</form>
<table>
  <thead id="encabezado_tabla">
    <tr>
      <th>Id </th>
      <th>Apellido</th>
      <th>Nombre</th>
      <th>Id tercero</th>
      <th>Titulo</th>
      <th>Puesto trabajo</th>
      <th>Direccion</th>
      <th>Codigo postal</th>
      <th>Estado</th>
      <th>Pais</th>
      <th>Telefono trabajo</th>
      <th>Telefono celular</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contactos.each do |contacto| %>
      <tr>
        <td><%= contacto.id_contacto %></td>
        <td><%= contacto.apellido %></td>
        <td><%= contacto.nombre %></td>
        <td><%= contacto.id_tercero %></td>
        <td><%= contacto.titulo %></td>
        <td><%= contacto.puesto_trabajo %></td>
        <td><%= contacto.direccion %></td>
        <td><%= contacto.codigo_postal %></td>
        <td><%= contacto.estado %></td>
        <td><%= contacto.pais %></td>
        <td><%= contacto.telefono_trabajo %></td>
        <td><%= contacto.telefono_celular %></td>
        <td><%= contacto.email %></td>
        <td><%= link_to 'Ver', contacto %></td>
        <td><%= link_to 'Editar', edit_contacto_path(contacto) %></td>
        <td><%= link_to 'Destruir', contacto, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<style>
h1{
  color: black;
}
#encabezado{
  background-color:lightblue;
}
#encabezado_tabla{
  background-color:lightgray;
}
</style>
