<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<div id="encabezado">
<h1>Terceros</h1>
</div>

<form action="/terceros/new" method="get">
<button type="button" class="btn btn-light btn-lg">Nuevo tercero</button>
</form>


<table class="table table-hover table-sm">
<div>
  <thead id="encabezado_tabla" class="thead-dark">
    <tr>
      <th >Id tercero</th>
      <th>Nombre tercero</th>
      <th>Cliente</th>
      <th>Proveedor</th>
      <th>Direccion</th>
      <th>Codigo postal</th>
      <th>Ciudad</th>
      <th>Estado</th>
      <th>Pais</th>
      <th>Email</th>
      <th>Sitio web</th>
      <th>Telefono</th>
      <th>Rfc</th>
      <th>Forma juridica</th>
      <th colspan="4"></th>
    </tr>
  </thead>
  </div>

  <tbody>
    <% @terceros.each do |tercero| %>
      <tr>
        <td><%= tercero.id_tercero %></td>
        <td><%= tercero.nombre_tercero %></td>
        <td><%= tercero.cliente %></td>
        <td><%= tercero.proveedor %></td>
        <td><%= tercero.direccion %></td>
        <td><%= tercero.codigo_postal %></td>
        <td><%= tercero.ciudad %></td>
        <td><%= tercero.estado %></td>
        <td><%= tercero.pais %></td>
        <td><%= tercero.email %></td>
        <td><%= tercero.sitio_web %></td>
        <td><%= tercero.telefono %></td>
        <td><%= tercero.rfc %></td>
        <td><%= tercero.forma_juridica %></td>
        <td><%= button_to 'Show', tercero %></td>
        <td><%= button_to 'Edit', edit_tercero_path(tercero), :method => :get %></td>
        <td><%= button_to 'Destroy', tercero, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= button_to 'Ver ordenes', ordenes_terceros_path(tercero.id_tercero), :method => :get %></td>
      </tr>
    <% end %>
  </tbody>
</table>
