<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<!-- code here -->
<p id="notice"><%= notice %></p>

<h1>Terceros</h1>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Id tercero</th>
      <th scope="col">Nombre tercero</th>
      <th scope="col">Cliente</th>
      <th scope="col">Proveedor</th>
      <th scope="col">Direccion</th>
      <th scope="col">Codigo postal</th>
      <th scope="col">Ciudad</th>
      <th scope="col">Estado</th>
      <th scope="col">Pais</th>
      <th scope="col">Email</th>
      <th scope="col">Sitio web</th>
      <th scope="col">Telefono</th>
      <th scope="col">Rfc</th>
      <th scope="col">Forma juridica</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @terceros.each do |tercero| %>
      <tr>
        <td ><%= tercero.id_tercero %></td>
        <td><%= tercero.nombre_tercero %></td>
        <td><%= tercero.cliente %></td>
        <td><%= tercero.proveedor %></td>
        <td><%= tercero.direccion %></td>
        <td><%= tercero.codigo_postal %></td>
        <td><%= tercero.ciudad %></td>
        <td><%= tercero.estado %></td>
        <td><%= tercero.pais %></td>
        <td><%= tercero.email %></td>
        <td><%= tercero.sitio_web %></td>
        <td><%= tercero.telefono %></td>
        <td><%= tercero.rfc %></td>
        <td><%= tercero.forma_juridica %></td>
        <td><%= link_to 'Show', tercero %></td>
        <td><%= link_to 'Edit', edit_tercero_path(tercero) %></td>
        <td><%= link_to 'Destroy', tercero, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tercero', new_tercero_path %>

  

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
 