
<div id="encabezado">
<h1>Terceros</h1>
</div>

<form action="/terceros/new" method="get">
<button>Nuevo tercero</button>
</form>

<table>
<div>
  <thead id="encabezado_tabla">
    <tr>
      <th>Id tercero</th>
      <th>Nombre tercero</th>
      <th>Cliente</th>
      <th>Proveedor</th>
      <th>Direccion</th>
      <th>Codigo postal</th>
      <th>Ciudad</th>
      <th>Estado</th>
      <th>Pais</th>
      <th>Email</th>
      <th>Sitio web</th>
      <th>Telefono</th>
      <th>Rfc</th>
      <th>Forma juridica</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  </div>

  <tbody>
    <% @terceros.each do |tercero| %>
      <tr>
        <td><%= tercero.id_tercero %></td>
        <td><%= tercero.nombre_tercero %></td>
        <td><%= tercero.cliente %></td>
        <td><%= tercero.proveedor %></td>
        <td><%= tercero.direccion %></td>
        <td><%= tercero.codigo_postal %></td>
        <td><%= tercero.ciudad %></td>
        <td><%= tercero.estado %></td>
        <td><%= tercero.pais %></td>
        <td><%= tercero.email %></td>
        <td><%= tercero.sitio_web %></td>
        <td><%= tercero.telefono %></td>
        <td><%= tercero.rfc %></td>
        <td><%= tercero.forma_juridica %></td>
        <td><%= link_to 'Ver', tercero %></td>
        <td><%= link_to 'Editar', edit_tercero_path(tercero) %></td>
        <td><%= link_to 'Destruir', tercero, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<style>
h1{
  color: black;
}
#encabezado{
  background-color:lightblue;
}
#encabezado_tabla{
  background-color:lightgray;
}
</style>