<h1>Detalles de pedido</h1>
<% @detalle.each do |pedido| %> 
    
    <p> id Pedido %> : <%= detalle.id_pedido %> </p>
    <p> Tipo de pedido %> : <%= detalle.tipo_pedido %> </p>
    <p> Fecha %> : <%= detalle.fecha %> </p>
    <p> Validez %> : <%= detalle.validez %> </p>
    <p> Condicion de pago %> : <%= detalle.condicion_pago %> </p>
    <p> Forma de pago %> : <%= detalle.forma_pago %> </p>
    <p> Fecha de entrega %> : <%= detalle.fecha_entrega %> </p>
    
<% end %>
