<h1>Pedidos en existencia</h1>

<% @pedidos.each do |ped| %> 
    <p>ID %> : <%= ped.id_pedido %> </p>
    <p>Tipo %> : <%= ped.tipo_pedido %> </p>
    <p>Fecha %> : <%= ped.fecha %> </p>
    <p>Validez %> : <%= ped.validez %> </p>
    <p>Condición de pago %> : <%= ped.condicion_pago %> </p>
    <p>Forma de pago %> : <%= ped.forma_pago %> </p>
    <p>Método de envio %> : <%= ped.metodo_envio %> </p>
    <p>Fecha de entrega %> : <%= ped.fecha_entrega %> </p>
    <p>Tercero %> : <%= ped.id_tercero %> </p>
<% end %>