<p id="notice"><%= notice %></p>

<p>
  <strong>Id producto:</strong>
  <%= @producto.id_producto %>
</p>

<p>
  <strong>Etiqueta producto:</strong>
  <%= @producto.etiqueta_producto %>
</p>

<p>
  <strong>Estado ventas:</strong>
  <%= @producto.estado_ventas %>
</p>

<p>
  <strong>Estado compras:</strong>
  <%= @producto.estado_compras %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @producto.descripcion %>
</p>

<p>
  <strong>Stock limite:</strong>
  <%= @producto.stock_limite %>
</p>

<p>
  <strong>Stock deseado:</strong>
  <%= @producto.stock_deseado %>
</p>

<p>
  <strong>Naturaleza:</strong>
  <%= @producto.naturaleza %>
</p>

<p>
  <strong>Peso:</strong>
  <%= @producto.peso %>
</p>

<p>
  <strong>Longitud:</strong>
  <%= @producto.longitud %>
</p>

<p>
  <strong>Largo:</strong>
  <%= @producto.largo %>
</p>

<p>
  <strong>Alto:</strong>
  <%= @producto.alto %>
</p>

<p>
  <strong>Superficie:</strong>
  <%= @producto.superficie %>
</p>

<p>
  <strong>Volumen:</strong>
  <%= @producto.volumen %>
</p>

<p>
  <strong>Precio venta:</strong>
  <%= @producto.precio_venta %>
</p>

<p>
  <strong>Precio venta minimo:</strong>
  <%= @producto.precio_venta_minimo %>
</p>

<p>
  <strong>Cantidad:</strong>
  <%= @producto.cantidad %>
</p>

<p>
  <strong>Id almacen:</strong>
  <%= @producto.id_almacen %>
</p>

<%= link_to 'Edit', edit_producto_path(@producto) %> |
<%= link_to 'Back', productos_path %>
