<p id="notice"><%= notice %></p>

<p>
  <strong>Id almacen:</strong>
  <%= @almacen.id_almacen %>
</p>

<p>
  <strong>Nombre almacen:</strong>
  <%= @almacen.nombre_almacen %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @almacen.descripcion %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @almacen.direccion %>
</p>

<p>
  <strong>Codigo postal:</strong>
  <%= @almacen.codigo_postal %>
</p>

<p>
  <strong>Ciudad:</strong>
  <%= @almacen.ciudad %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @almacen.estado %>
</p>

<p>
  <strong>Pais:</strong>
  <%= @almacen.pais %>
</p>

<p>
  <strong>Cls:</strong>
  <%= @almacen.cls %>
</p>

<%= link_to 'Edit', edit_almacen_path(@almacen) %> |
<%= link_to 'Back', almacens_path %>
